@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* box-sizing: Ajuda a manter o elemento filho dentro do pai */
body{
    box-sizing: border-box;
    height: 100vh; /* Serve para dizer que body vai usar a altura total (view height) do navegador*/
    background-color: #000;
    color: #f6f6f6;
}

.titulo-destaque{
    color: #22d4fd;
}

.apresentacao{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__conteudo__links{
    display: flex;
    justify-content: space-between;
}

.apresentacao__conteudo__links__link{
    background-color: #22D4FD;
    color: #000;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}